{% extends "base.html" %}
{% block title %}
<title>About us</title>
{% endblock %}
{% block page_content %}
<br>
<br>

<h3 style="color: white">&nbsp;О нас</h3>
<br>
<h3 style="color: white">&nbsp;Добро пожаловать на наш сайт!</h3>
<br>
<h3 style="color: white">&nbsp;Мы специализируемся на продаже билетов на различные события и мероприятия.</h3>
<h3 style="color: white">&nbsp;Будь то концерты, спортивные события, театральные представления или фестивали, у нас вы можете найти и приобрести билеты на ваше любимое мероприятие.</h3>
<br>
<h3 style="color: white">&nbsp;Наш сайт был создан в рамках практики фреймворка Django.</h3>
<h3 style="color: white">&nbsp;Django - мощный инструмент для разработки веб-приложений, который позволяет нам создать надежную и удобную платформу для покупки билетов.</h3>
<h3 style="color: white">&nbsp;Мы использовали преимущества Django, чтобы создать простой, но эффективный интерфейс, который поможет вам быстро найти нужные билеты и с легкостью совершить покупку.</h3>
<br>
<h3 style="color: white">&nbsp;Мы стремимся предоставить вам лучший сервис и максимальное удобство</h3>
<br>
<h3 style="color: white">&nbsp;Создатель: 7732469tl@gmail.com</h3>
{% endblock %}